.caja {
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
    /* padding-top: 10%; */
    width: 250px;
    height: 270px;
    /* background-color: rgba(177, 177, 167, 0.532); */
    
    border-radius: 5%;
    /* margin: 1rem; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.contenedor1 {
    text-align: center;
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr;
    grid-gap: 20px;
    padding: 2rem;
}
.button1{
    background-color: #c20833fc;
    border: none;
    color: #FFF;
    padding: 15px 15px 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    width: 100px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    
}
p{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-style: normal;
}